{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Select Configuration</h1>
    <h2>Warehouse Options</h2>
    
    <form action="{{ url_for('config') }}" method="post">
        <div class="config-grid">
            <div class="config-section">
                <h3>Select size of Warehouse:</h3>
                <p>Note: 1 cell = 1m&sup2, minimum is 10x10</p>
                <h4>Width</h4>
                <input name="warehouse_width" value="50" type="number" label="Width">
                <h4>Length</h4>
                <input name="warehouse_length" value="50" type="number" label="Length">
                <h4>Aisle Width</h4>
                <input name="aisle_width" value="2" type="number" label="Length">
            </div>

            <div class="config-section">
                <h3>Automatic Placement</h3>
                <h4>Entrance/Exit/Loading Placement</h4>
                <select name="ex_ent_placement" required>
                    <option value="auto">Automatic</option>
                    <option value="manual">Manual</option>
                </select>
                <h4>Placement</h4>
                <select name="wall_placement" required>
                    <option value="auto">Automatic</option>
                    <option value="manual">Manual</option>
                </select>
            </div>
            
            <div class="config-section">
                <h3>Select Model:</h3>
                <select name="model" required>
                    <option value="ga">Genetic Algorithm</option>
                    <option value="rl">Reenforced Learning</option>
                    <option value="gasim">Genetic Algorithm + Simulation</option>
                </select>

            </div>
        </div>
        
        <div class="proceed-button-container">
            <button type="submit" class="button">Proceed</button>
        </div>
    </form>
</div>
{% endblock %}