{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Optimiser Configuration</h1>
  <h2>Select Optimisation Components</h2>
  
  <form id="optimiserForm" method="POST" action="/optimiser">
    <div class="config-grid">
      <div class="config-section">
        <h3>Algorithm Selection</h3>
        <select name="algorithm" required>
          <option value="ga">Genetic Algorithm</option>
        </select>
        
        <div class="parameter-section">
          <h4>Enter Hyperparameters in JSON format</h4>
          <input type="text" name="algorithm_hyperparameters" min="10" max="100" value="30">
        </div>

      </div>

      <div class="config-section">
        <h3>Fitness Function</h3>
        <select name="function" required>
          <option value="standard_layout_fitness">Standard Layout Fitness</option>
          <option value="two_step_fitness">Two-Step Fitness</option>
        </select>
        
        <div class="parameter-section">
          <h4>Enter Hyperparameteres in JSON format</h4>
          <input type="text" name="function_hyperparameters" min="10" max="100" value="30">
        </div>

      </div>

      <div class="config-section">
        <h3>Simulation Settings</h3>
        <select name="simulation" required>
          <option value="mesa_warehouse_sim">Mesa Warehouse Simulation</option>
          <option value="mapf_sim">MAPF Simulation</option>
        </select>
        
        <div class="parameter-section">
          <h4>Enter Hyperparameteres in JSON format</h4>
          <input type="text" name="simulation_hyperparameters" min="10" max="100" value="30">
        </div>

      </div>
    </div>
    
    <div class="proceed-button-container">
      <button type="submit" class="button">Start Optimisation</button>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %} 