{% extends "base-canvas.html" %}

{% block page_title %}Structure Configuration{% endblock %}
{% block page_subtitle %}Draw Walls, Entrances, Exits and Loading Points{% endblock %}
{% block save_endpoint %}/structure{% endblock %}

{% block drawing_tools %}
<select id="structType">
  <option value="wall">🧱 Wall</option>
  <option value="loading">📦 Loading struct</option>
  <option value="ex">⛔ Exit Only</option>
  <option value="ent">🚪 Entrance Only</option>
  <option value="ex_ent">🚪↔️ Entrance & Exit</option>
  <option value="erase">🧽 Eraser Tool</option>
</select>
{% endblock %}

{% block legend %}
<div class="legend">
  <h3>Legend</h3>
  <div><span style="background-color: #333;"></span> Wall </div>
  <div><span style="background-color: orange;"></span> Loading struct </div>
  <div><span style="background-color: lightcoral;"></span> Exit Only</div>
  <div><span style="background-color: lime;"></span> Entrance Only</div>
  <div><span style="background-color: lightblue;"></span> Entrance & Exit</div>
</div>
{% endblock %}

{% block struct_colors %}
{
  "wall": "#333",
  "loading": "orange",
  "ex": "lightcoral",
  "ent": "lime",
  "ex_ent": "lightblue"
}
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  handleDrawCallback = function(x, y, changes, initialMap, rows, cols) {
    const structType = document.getElementById("structType").value;
    const key = `${x},${y}`;
    const isWall = initialMap[key] === 'wall';
    const isEdge = x === 0 || y === 0 || x === cols - 1 || y === rows - 1;

    if (structType === 'erase') {
      // Prevent removing original structures
      if (key in changes) delete changes[key];
    } else if (["ex", "ent", "ex_ent"].includes(structType)) {
      // Allow overwriting walls on edges
      if (isWall && isEdge) changes[key] = structType;
    } else {
      changes[key] = structType;
    }
    
    console.log(key)
  };
</script>
{% endblock %}
