{% extends "base-canvas.html" %}

{% block page_title %}Structure Configuration{% endblock %}
{% block page_subtitle %}Indicate different zones{% endblock %}
{% block save_endpoint %}/zones{% endblock %}

{% block drawing_tools %}
<select id="structType">
  <option value="highTemp">🔥 High Temperature</option>
  <option value="lowTemp">❄️ Low Temperature</option>
  <option value="highHumidity">💧 High Humidity</option>
  <option value="lowHumidity">💨 Low Humidity</option>
  <option value="erase">🧽 Eraser Tool</option>
</select>

{% endblock %}

{% block legend %}
<div class="legend">
  <h3>Legend</h3>
  <div><span style="background-color: red;"></span> High Temperature</div>
  <div><span style="background-color: blue;"></span> Low Temperature</div>
  <div><span style="background-color: teal;"></span> High Humidity</div>
  <div><span style="background-color: lightblue;"></span> Low Humidity</div>
</div>
{% endblock %}

{% block struct_colors %}
{
  "wall": "#333",
  "loading": "orange",
  highTemp: "rgba(255, 0, 0, 0.3)",        // translucent red
  lowTemp: "rgba(0, 0, 255, 0.3)",         // translucent blue
  highHumidity: "rgba(0, 128, 128, 0.3)",  // translucent teal
  lowHumidity: "rgba(173, 216, 230, 0.3)"  // translucent light blue
}
{% endblock %}


{% block scripts %}
{{ super() }}
<script>
  handleDrawCallback = function(x, y, changes, initialMap, rows, cols) {
    const structType = document.getElementById("structType").value;
    const key = `${x},${y}`;

    if (structType === 'erase') {
      // Prevent removing original structures
      if (key in changes) delete changes[key];
    } else {
      changes[key] = structType;
    }
  };
</script>
{% endblock %}